@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mx-0 p-0 mt-4 mb-2;
  color: inherit;
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-weight: 600;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

h1 {
  @apply pb-3 text-4xl;
}

h2 {
  @apply pb-3 text-2xl;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.14);
}

h3 {
  @apply mt-0 pb-0 text-xl;
}

h3 {
  @apply mt-0 pb-0 text-xl;
}

h6 {
  @apply mt-0 pb-0 text-xl text-[#777] font-[400];
}

a {
  text-decoration: none;
  color: #4078c0;
}

p,
li,
a {
  @apply font-[300];
  font-family: Helvetica, Roboto, Arial;
}

p,
li {
  @apply m-0 p-0;
  margin-bottom: 0.8125rem;
}

b {
  font-weight: 600;
}

ol,
ul {
  @apply mt-4 mb-8 ml-8 p-0 block;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: disc;
}
